/* ---------------------------------------------------- */
/* 1. ROOT & BASE STYLES                                */
/* ---------------------------------------------------- */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #22282e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

/* ---------------------------------------------------- */
/* 2. LINKS & BUTTONS                                   */
/* ---------------------------------------------------- */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button.btn {
  border-radius: 7px;
  border: 1px solid transparent;
  padding: 7px 16px 9px 16px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button.btn:hover {
  border-color: #646cff;
}
button.btn:focus,
button.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn.textile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 16px 8px 20px;
}

.btn.textile span {
  font-size: 1.8em;
}

.filter-button-group button:first-child {
  margin-right: 0;
  border-radius: 7px 0 0 7px;
  border-right: 1px solid #ccc;
}
.filter-button-group button:nth-child(2) {
  margin-left: 0;
  border-radius: 0 7px 7px 0;
}

/* ---------------------------------------------------- */
/* 3. LAYOUT & TOOLBAR (Desktop)                        */
/* ---------------------------------------------------- */

.util-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.toolbar-header {
  border-right: 1px solid #ccc;
  min-width: fit-content;
  display: flex;
  background: #242424;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.toolbar {
  display: flex;
  flex-direction: column;
}

.toolbar > * {
  text-align: left;
  width: fit-content;
  margin-bottom: 10px;
}

.header {
  margin-top: 8px;
  font-size: 28px;
  font-family: fantasy;
  text-wrap: wrap;
  width: 125px;
  padding-left: 8px;
}

/* ---------------------------------------------------- */
/* 4. MACHINE CARDS & ORDERS                            */
/* ---------------------------------------------------- */

.machines {
  flex-grow: 1;
  align-items: flex-start;
  background-color: #22282e;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.machine-card {
  height: 97%;
  min-width: 360px;
  background-color: #151b1f;
  border-radius: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  scroll-padding-top: 48px;
}
.machine-card::-webkit-scrollbar {
  display: none;
}

.machine-name {
  padding: 0.5rem;
  position: sticky;
  top: -8px;
  z-index: 10;
  backdrop-filter: blur(3px);
  border-bottom: 1px solid transparent;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  font-family: fantasy;
}
.machine-name.scrolled {
  background: rgba(110, 144, 156, 0.2);
  padding-bottom: 0;
  font-size: 24px;
  transition: all 0.2s ease;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.machine-name.scrolled span {
  font-size: 18px;
}
.machine-name span {
  color: #646cff;
  font-size: 24px;
  vertical-align: super;
  margin-right: 4px;
}

.machine-orders {
  padding: 12px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

/* ORDER CARD */
.order-card {
  position: relative;
  background: rgba(92, 180, 200, 0.059);
  padding: 0.9rem;
  padding-top: 0.8rem;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  color: #afafaf;
  gap: 0.25rem;
  box-shadow: 0px 8px 8px -8px #364851;
}
.order-card:hover {
  background: rgba(92, 180, 200, 0.1);
}

.order-id {
  color: #d3e8ed;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  display: block;
}
.low-ratio {
  font-weight: 600;
  background-color: black !important;
}

.remove-order-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
  line-height: 1;
  padding: 0;
  user-select: none;
}

.bg-red {
  background-color: rgba(255, 0, 0, 0.1) !important;
  border: 3px solid #640000 !important;
}
.bg-red .remove-order-btn {
  color: #ff6666 !important;
}

/* ---------------------------------------------------- */
/* 5. MODAL & TEXTAREA                                  */
/* ---------------------------------------------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #242424;
  padding: 2rem;
  padding-bottom: 2rem;
  border-radius: 6px;
  width: 88%;
  height: 75%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.modal h3 {
  margin-top: 0;
}
.modal button {
  margin-left: 10px;
}

.modal-actions {
  margin-top: 1rem;
  text-align: right;
}

textarea {
  width: 100%;
  height: calc(100% - 110px);
  white-space: pre;
}

/* ---------------------------------------------------- */
/* 6. AG GRID STYLES                                    */
/* ---------------------------------------------------- */

.ag-grid {
  width: 100%;
  height: 100%;
}

.ag-theme-alpine {
  height: 100%;
}

.ag-grid-tab {
  text-align: left !important;
}

.ag-root-wrapper {
  border-radius: 0 !important;
}

.ag-row:hover {
  cursor: pointer;
}

.ag-floating-filter-button-button {
  margin: 0 4px;
}
.ag-floating-filter-button {
  margin-left: 0 !important;
}
.ag-header-cell.ag-floating-filter.ag-focus-managed {
  gap: 4px;
  padding: 0 8px;
}
.ag-wrapper.ag-input-wrapper.ag-text-field-input-wrapper::before {
  display: none !important;
}
.ag-input-field-input.ag-text-field-input {
  padding: 0 8px !important;
}

/* ---------------------------------------------------- */
/* 7. UTILITY & MISC.                                   */
/* ---------------------------------------------------- */

.filter-text,
.dropdown-arrow {
  cursor: pointer;
}

.roll-size {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.dropdown-arrow {
  padding: 0 6px;
  min-width: 24px;
  text-align: center;
}

.default-theme.splitpanes--horizontal > .splitpanes__splitter {
  background: rgba(59, 59, 59, 0.571) !important;
  height: 7px !important;
  border-top: none !important;
}
.default-theme.splitpanes--horizontal > .splitpanes__splitter:after,
.default-theme.splitpanes--horizontal > .splitpanes__splitter:before {
  display: none !important;
}

.item-span {
  display: inline-block;
}

.text-progress {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right,
    #afafaf 0%,
    #afafaf var(--p),
    rgb(255, 95, 95) var(--p),
    rgb(255, 95, 95) 100%
  );
}

/* ---------------------------------------------------- */
/* 8. MEDIA QUERIES (Mobile)                            */
/* ---------------------------------------------------- */

@media (max-width: 768px) {
  .util-group {
    flex-direction: column;
  }
  .toolbar-header {
    border: none;
    box-shadow: 0 -1px 3px rgba(255, 255, 255, 0.2);
    z-index: 10;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  .toolbar-header > .header {
    margin-top: 0;
  }
  .toolbar.mobile {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .toolbar > * {
    margin-bottom: 0;
  }

  .machines {
    background-color: rgb(21, 27, 31);
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column-reverse;
  }
  .machine-card {
    height: 100%;
  }

  .order-card {
    font-size: 15px;
  }
  .order-id {
    font-size: 24px;
    max-width: 85%;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    flex-wrap: wrap;
    background: #222;
    justify-content: center;
    padding: 10px;
    -webkit-tap-highlight-color: transparent;
  }
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    border-radius: 10px;
    color: #aaa;
    font-weight: 500;
    font-size: 1.8rem;
    transition: 0.2s;
  }
  .tab:hover {
    color: #fff;
  }
  .tab.active {
    color: #fff;
    background: #4a4a4ab9;
    box-shadow: 2px 2px 15px #0b0b0b;
  }
  .machine-content {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
}